<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorator="layouts/main">
<head>
    <title>Admin</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="page-header">
            <h2>News</h2>
        </div>
        <div>
            <div sec:authorize="hasRole('ROLE_ADMIN')" class="container">
                <form method="POST" th:action="@{/news}">
                    <input type="hidden" th:name="github" th:value="${#authentication.principal.github}"/>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="message" placeholder="Message"/>
                    </div>
                    <button type="submit" name="submit" value="value" class="btn btn-primary">Add News</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div th:each="news : ${news}" class="panel panel-info">
            <div class="panel-heading">
                <h3 th:text="${news.user}" class="panel-title">user - date</h3>
            </div>
            <div class="panel-body">
                <p th:text="${news.message}">message</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>