<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <section class="billboard">
        <div class="container">
            <h2>Spring E-Commerce</h2>
        </div>
    </section>
    <div class="jumbotron">
        <div class="container">
            <h1>Rate Us!</h1>
            <p><a class="btn btn-primary btn-lg" th:href="@{/submit}" role="button">Click</a></p>
        </div>
    </div>
    <div class="container">
        <div th:if="${not #lists.isEmpty(latestNews)}" class="page-header">
            <h2>Latest News:</h2>
        </div>

        <div th:each="latestNews : ${latestNews}" class="panel panel-info">
            <div class="panel-heading">
                <h3 th:text="${latestNews.user}" class="panel-title">user - date</h3>
            </div>
            <div class="panel-body">
                <p th:text="${latestNews.message}">message</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>