<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <section class="billboard">
        <div class="container">
            <h2>Spring E-Commerce</h2>
        </div>
    </section>
    <div class="jumbotron">
        <div class="container">
            <h1>Rate Us!</h1>
            <p><a class="btn btn-primary btn-lg" th:href="@{/submit}" role="button">Click</a></p>
        </div>
    </div>
    <div class="container">
        <div class="page-header">
            <h2>Latest</h2>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Spring Framework is awesome!</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Spring Boot is much more awesome then Spring Framework</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
</body>
</html>